body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.none {
  /* display: none; */
  opacity: 0.1;
}

.dropdown-menu {
  background-color: #cfd0d4;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
}

ul, li {
  padding: 0px;
  list-style-type: none;
}
